html, body 
    width: 100%
    margin: 0
    padding: 0
    box-sizing: border-box

.bg-img
    width: 100vw
    height: 100vh
    background: url('../img/bg.jpg')
    background-size: cover
    z-index: -1

header
    width: 100vw
    height: 13.8%
    background-color: white
    display: grid
    grid-template-rows: 5% 8.7%
    .navbar
        display: flex

