@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900&display=swap");
html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: #F5F3F1;
}

section {
  width: 100%;
}

.header-wrapper {
  height: 95vh;
  max-height: 1936px;
  width: 100%;
  background-image: url("../img/bg-min.jpg");
  background-position: center 29%;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F5F3F1;
}

header nav {
  width: 86%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 47px 47px;
  -ms-grid-columns: (1fr)[5];
      grid-template: 47px 47px/repeat(5, 1fr);
}

#Brand {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  border-left: 2px solid #383737;
  border-bottom: 2px solid #383737;
  border-right: 2px solid #383737;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 28px;
  font-size: 30px;
}

#Brand h1 {
  font-weight: 100;
}

#Brand h1 span {
  font-weight: 700;
}

.nav-item {
  border-bottom: 2px solid #383737;
  border-right: 2px solid #383737;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-item a {
  text-decoration: none;
}

.nav-item a:hover {
  cursor: pointer;
}

.nav-item a:visited {
  color: #383737;
}

footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  height: 149px;
  background-color: #383737;
  color: #D1CBC6;
}

.footer-container {
  width: 86%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  border-left: 2px solid #979797;
  border-right: 2px solid #979797;
}

.footer-container div {
  padding-top: 25px;
}

.footer-container div p {
  padding-left: 12px;
}

.footer-container > div > p + p {
  margin: 25px 0;
}

a {
  color: #D1CBC6;
  text-decoration: none;
}

.header-description-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  text-align: center;
  width: 86%;
  color: #F5F3F1;
}

.header-description-container > p {
  font-size: 60px;
  padding: 0 10%;
  font-weight: 900;
}

.date-location {
  margin-top: 80px;
}

.date-location > p {
  font-weight: 300;
  font-size: 30px;
}

.bumper {
  width: 100%;
  height: 20px;
  background-color: #383737;
}

.book-now {
  text-align: center;
  border: 2px solid #383737;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body-background {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body-background .container {
  width: calc( 86% - 40px);
  display: -ms-grid;
  display: grid;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #383737;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.body-background .container .big-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 387px 96px 46px;
      grid-template-rows: 387px 96px 46px;
  -ms-grid-columns: 80px 1fr;
      grid-template-columns: 80px 1fr;
  overflow: hidden;
  background-color: #F5F3F1;
}

.body-background .container .big-block .image img {
  width: 100%;
}

.body-background .container #first {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
}

.body-background .container #fourth {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3 / 6;
}

.body-background .container .header {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  padding-top: 24px;
}

.body-background .container .header h3 {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  height: 100%;
  text-align: right;
}

.body-background .container .image {
  overflow: hidden;
}

.body-background .container .small-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 387px 96px 46px;
      grid-template-rows: 387px 96px 46px;
  -ms-grid-columns: 80px 1fr;
      grid-template-columns: 80px 1fr;
  overflow: hidden;
  background-color: #F5F3F1;
}

.body-background .container .small-block .image img {
  width: 100%;
}

.body-background .container #second {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4 / 6;
}

.body-background .container #third {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.btn {
  font-weight: 600;
}

.description, .btn {
  padding: 0 62px;
}

.image, .description, .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #383737;
  border-top: 0px;
  text-align: center;
}

p {
  margin: 0;
  padding: 0;
}

.sub-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: grey;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sub-nav .inner-sub-nav {
  width: 86%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-gap: 3px;
  height: 69px;
  padding-right: 8px;
}

.sub-nav .inner-sub-nav div {
  width: 100%;
}

.exhibitions-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 335px;
      grid-template-rows: 335px;
  -ms-grid-columns: 7% (1fr)[5] 7%;
      grid-template-columns: 7% repeat(5, 1fr) 7%;
}

.exhibitions-container .image {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.exhibitions-container .image img {
  width: 100%;
}

.exhibitions-container .content {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4 / 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.exhibitions-container .visit-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.biography-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.biography-wrapper .biography {
  width: 86%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.biography-wrapper .biography p {
  margin: 33.5px 0;
}

.contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url(../img/contact-bg.jpg);
  background-size: cover;
  background-position: center;
}

.contact-wrapper .contact-container {
  width: 86%;
  height: 67%;
}

.contact-wrapper .contact-container .contact-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  background-color: red;
}

.about-wrapper .about-body-header {
  height: 425px;
  background-image: url(../img/about/frank-80s-min.jpg);
  background-position: left 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-wrapper .about-body-header h1 {
  color: white;
}

.about-wrapper .image-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-wrapper .image-wrapper img {
  width: 100%;
}

.work-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top-half {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 7% (1fr)[5] 7%;
      grid-template: 1fr/7% repeat(5, 1fr) 7%;
  height: 671px;
}

.arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 100px;
}

.arrow-right {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.image-container {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / 5;
  border-left: 2px solid #979797;
  border-right: 2px solid #979797;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.image-desc {
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5 / 7;
}

.image-container img {
  height: 628px;
}
/*# sourceMappingURL=master.css.map */