@import 'layout/header'
    
    
html,body
    width: 100%
    margin: 0
    padding: 0
    box-sizing: border-box

.wrapper
    height: 100vh
    max-height: 1465px
    width: 100%
    background-image: url('../img/bg.png')
    background-position: center 30%

.book-now
    text-align: center
    border: 2px solid grey
    
.body-background
    width: 100%
    display: flex
    justify-content: center
    .container
        width: 86%
        display: grid
        background-color: grey
        grid-template-columns: repeat(5fr) 
        grid-template-rows: 1fr 1fr
        grid-gap: 3px