.wrapper {
  height: 100vh;
  max-height: 1936px;
  width: 100%;
  background-image: url("../img/bg.png");
  background-position: center 30%;
}

header {
  width: 100%;
  background-color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 15px solid gray;
}

header nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7% 3fr 1fr 1fr 7%;
      grid-template-columns: 7% 3fr 1fr 1fr 7%;
  -ms-grid-rows: 47px 47px;
      grid-template-rows: 47px 47px;
  grid-gap: 3px;
  width: 100%;
}

header nav .brand {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 4;
}

header nav .block, header nav .brand, header nav .nav-item {
  background-color: pink;
}

header nav .exhibitions {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
}

header nav .work {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 5;
}

header nav .about {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 5;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 4;
}

header nav .contact {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 4;
}

header nav .block {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 4;
}

footer {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: grey;
  -ms-grid-columns: 7% (1fr)[5] 7%;
      grid-template-columns: 7% repeat(5, 1fr) 7%;
  -ms-grid-rows: 47px 47px;
      grid-template-rows: 47px 47px;
}

html,
body {
  width: calc(100%);
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.book-now {
  text-align: center;
  border: 2px solid grey;
}

.body-background {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body-background .container {
  width: 86%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: gray;
  padding: 20px;
}

.body-background .container .big-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 387px 96px 46px;
      grid-template-rows: 387px 96px 46px;
  -ms-grid-columns: 80px 669px;
      grid-template-columns: 80px 669px;
  overflow: hidden;
  background-color: white;
}

.body-background .container .header {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 4;
}

.body-background .container .image {
  overflow: hidden;
}

.body-background .container .small-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 386px 96px 46px;
      grid-template-rows: 386px 96px 46px;
  -ms-grid-columns: 80px 387px;
      grid-template-columns: 80px 387px;
  overflow: hidden;
  background-color: white;
}

.body-background .bumper {
  width: 100%;
  height: 20px;
}
/*# sourceMappingURL=master.css.map */