.header-wrapper
    height: 95vh
    max-height: 1936px
    min-height: 950px
    width: 100%
    background-image: url('../img/bg-min.jpg')
    background-position: center 29%

header
    width: 100%
    display: flex
    justify-content: center
    background-color: #F5F3F1
    nav
        width: 86%
        display: grid
        grid-template: 47px 47px / repeat(5,1fr)
        a
            color: $main-color

#Brand
    grid-column-start: 1
    grid-column-end: 4
    grid-row-start: 1
    grid-row-end: 3
    border-left: 2px solid #383737
    border-bottom: 2px solid #383737
    border-right: 2px solid #383737
    height: 100%
    display: flex
    align-items: center
    padding-left: 28px
    font-size: 30px
    h1
        font-weight: 100
        span
            font-weight: 700

.nav-item
    border-bottom: 2px solid #383737
    border-right: 2px solid #383737
    height: 100%
    display: flex
    padding-left: 10px
    align-items: center
    a
        text-decoration: none
        &:hover
            cursor: pointer
        &:visited
            color: #383737