.container
    width: 100%
    display: flex
    background-color: grey
    justify-content: center
    .inner-container
        width: 86%
        display: grid
        grid-template-rows: 1fr
        grid-template-columns: repeat(5,1fr)
        grid-gap: 3px
        height: 69px
        padding-right: 8px
        div 
            width: 100%