.header-description-container
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, 0%)
    text-align: center
    width: 86%
    color: $background-color
    & > p
        font-size: 60px
        padding: 0 10%
        font-weight: 900

.date-location
    margin-top: 80px
    & > p
        font-weight: 300
        font-size: 30px


.bumper
    width: 100%
    height: 20px
    background-color: $main-color

.book-now
    text-align: center
    border-top: 2px solid $main-color
    border-bottom: 2px solid $main-color
    height: 80px
    display: flex
    align-items: center
    justify-content: center

// BODY START
.body-background
    width: 100%
    display: flex
    justify-content: center
    .container
        width: calc( 86% - 40px )
        display: grid
        flex-wrap: wrap
        justify-content: space-around
        background-color: $main-color
        grid-template-rows: 1fr 1fr
        grid-template-columns: repeat(5, 1fr)
        grid-gap: 20px
        padding: 20px
        .big-block
            display: grid
            grid-template-rows: 387px 96px 46px
            grid-template-columns: 80px 1fr
            overflow: hidden
            background-color: $background-color
            .body-image
                img
                    width: 100%
        #first
            grid-column: 1 / 4
        #fourth
            grid-column: 3 / 6
        .header
            grid-row-start: 1
            grid-row-end: 4
            display: flex
            justify-content: center
            align-items: flex-start
            position: relative
            padding-top: 24px
            h3
                writing-mode: vertical-lr
                transform: rotate(180deg)
                height: 100%
                text-align: right
                font-weight: 500
        .body-image
            overflow: hidden
        .small-block
            display: grid
            grid-template-rows: 387px 96px 46px
            grid-template-columns: 80px 1fr
            overflow: hidden
            background-color: $background-color
            .body-image
                img
                    width: 100%
        #second
            grid-column: 4 / 6
        #third
            grid-column: 1 / 3
.btn
    font-weight: 600

.body-desc,.btn
    padding: 0 62px
.body-image, .body-desc,.btn
    display: flex
    justify-content: center
    align-items: center
    border: 2px solid $main-color
    border-top: 0px
    text-align: center